# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon[\r]
._*

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
